*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-color{
  color: rgb(0, 71, 103);
}
.main-bg{
  background-color: rgb(0, 71, 103);
}
.second-color{
  color: #379cf4;
}
.second-bg{
  background-color: #379cf4;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #379cf4; /* Change this to your desired hover background color */
}
.btn-custom{
  background-color: #379cf4 !important;
  color: white;
  text-decoration: none;
  padding: 12px;
}
.btn-custom:hover{
  background-color: rgb(0, 71, 103);
  transition: 0.2s ease-in-out;
}
.btn-custom-outline{
  border: 3px solid #379cf4;
  text-decoration: none;
  color: black;
  padding: 5px 12px 5px 12px;
}
.btn-custom-outline:hover{
  background-color: #379cf4;
  color: white;
  transition: 0.2s ease-in-out;
}
.text-justified{
  text-align: justify !important;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
